.main-search {
  background-color: #fcfcff;
  width: 651px;
  height: 74px;
  border: 1px solid #efefff;
  box-sizing: border-box;
  box-shadow: 0px 16px 35px -15px rgba(2, 5, 132, 0.15);
  border-radius: 10px;
}
.search-div i {
  color: lightgray;
}
.search-input {
  border: none;
}
