.text-bg{
    background-color: #E5E5E5;
    width: 250px;
    height: 60px;
    border-radius: 15px;
}
.text-bg label{
    width: 80px;
    height: 30px;
}
.text-bg label:hover{
    width: 80px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    color: #202142;
    font-weight: 600;
}
.filters-word{
    list-style-type: none;
}
.filters-word li{
    width: 20%;
    text-align: center;
}
.filters-word li:hover{
    color: #202142;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-weight: 600;
    width: 20%;
    height: 30px;
}
.logo-list{
    list-style-type: none;
}
.logo-list li{
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 5px;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}
.logo-list li:hover{
    border-color: darkgoldenrod;
}